html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  background-color: #f5f5f5;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

.product {
  margin: 0 auto;
}

.product__visual {
  border-radius: 30px 30px 0px 0px;
}

.product__visual,
.product__detail {
  padding: 30px;
  box-shadow: 5px 5px 12px #888888;
}

.product__logo {
  width: 25%;
}

img {
  width: 100%;
}

.product__img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 85%;
  padding: 1rem;
}

.product__detail {
  background-color: white;
  border-radius: 0px 0px 30px 30px;
}

.product__name {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

.product__type {
  color: #959595;
  margin-bottom: 1.5rem;
  margin-top: 0px;
}

.product__desc {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e1140a;
  margin-bottom: 30px;
}

.product__color {
  padding: 0;
  font-size: 1rem;
}

.product__color>li {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
}

.product__color--selected,
.product__color>li:hover {
  color: #e1140a;
  border: 1px solid #e1140a;
  border-radius: 50%;
  padding: 0.5rem;
  font-weight: bold;
}

.product__line {
  height: 1px;
  background-color: #e1140a;
  margin-bottom: 1rem;
}

.product__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.product__basket {
  cursor: pointer;
  color: white;
  background-color: #e1140a;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem 1px #888;
  font-size: 1.5rem;
}

.product__basket:hover {
  color: #e1140a;
  background-color: white;
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem 1px #e1140a;
}

.product__price {
  color: #e1140a;
  font-size: 1rem;
}

@media (min-width: 767px) {
  .product__visual {
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    background-color: #f5f5f5;
  }

  .product__visual,
  .product__detail {
    border-radius: 30px;
  }

  .product__detail {
    padding-top: 5rem;
  }

  .product__colorbox {
    display: flex;
    justify-content: space-evenly;
  }

  .product__desc {
    margin-bottom: 0;
  }
}
